@charset "UTF-8";

html,
body {
    min-height: 100vh;
}
body {
    display: flex;
    flex-direction: column;
    }
html {
    font-size: 100%;
}
a {
    text-decoration: none;
    }
body{
    font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体','ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
    font-size: 0.9rem;
    line-height: 1.7;
    background-color:#400e32 ;
    color: #fff;
}
img {
    max-width: 100%;
    }
li {
    list-style: none;
    }
.wrapper {
        max-width: 960px;
        padding: 40px 16px 50px 16px;
        margin: 0 auto;
        text-align: center;
    }
.flex{
    display: flex;
}
.white{
    background-color: #fff;
    color: black;
}

.item-title {
    font-size: 2.5rem;
    display: inline-block;
    border-bottom: solid 2px #F2AD28;
    margin-bottom: 50px;
    }
.cta-title{
    font-size: 2.5rem;
    display: inline-block;
    border-bottom: solid 2px #400e32;
    margin-bottom: 50px;
}
    
h3{
    font-size: 1.5rem;
    padding-bottom: 30px;
}
h4{
    font-size: 1.1rem;
    padding-bottom: 20px;
}
/*--------------------------
ヘッダー
---------------------------*/
#header {
        width: 100%;
        min-height: 100vh;
        background-image: url("../img/mainvisual.jpg");
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        /* padding: 20px 40px; */
    }    

.top{
    position: relative;
    height: 900px;
    }

.site-title{
    position: absolute;
    width: 55%;
    left: 35%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.site-title img{
    width: 100%;
}
.button{
    position: absolute;
    width: 40%;
    right: 25%;
    top: 50%;
    transform: translate(70%,-10%);
}
#header .header-p{
    font-size: 1.2rem;
    padding-bottom: 20px;
}
#header p{
    font-size: 1.1rem;
}
/*--------------------------
申込ボタンデザイン
---------------------------*/
.btn-gradient-radius {
        max-width:100% ;
        margin-top: 30px;
        display: inline-block;
        font-size: 1.0rem;
        padding: 7px 20px;
        border-radius: 25px;
        text-decoration: none;
        color: #FFF;
        background-image: linear-gradient(45deg, #F2AD28 0%, #ff8b5f 100%);
        transition: .4s;
    }
    
.btn-gradient-radius:hover {
        background-image: linear-gradient(45deg, #F2921D 0%, #f76a35 50%);
    }
    
.btn-cta {
        max-width:70%;
        display: inline-block;
        font-size: 1.5rem;
        padding: 7px 30px;
        border-radius: 25px;
        text-decoration: none;
        color: #FFF;
        background-image: linear-gradient(45deg, #A61F69 0%, #400E32 100%);
        transition: .4s;
    }
    
.btn-cta:hover {
        background-image: linear-gradient(45deg, #400E32 0%, #642e55 50%);
    }

/*--------------------------
About
---------------------------*/
.about .img{
    width: 40%;
}
.text{
    width: 60%;
    padding: 80px 8% 100px 6%;
}
/*--------------------------
#こんな方におすすめ
---------------------------*/
#recommend .item{
width:25%;
margin-right: 20px;
margin-bottom: 50px;
}

#recommend .item:last-child{
    margin-right: 0px;
}
#recommend img{
    width:50%;
}
/*--------------------------
#サカラバPremiumでできること
---------------------------*/
#benefit{
    flex-wrap: wrap;
}
#benefit .box{
    background-color: #fff;
    color: #232323;
    width: 30%;
    padding-top: 20px;
    margin: 30px auto 0px auto;
}
#benefit .box p{
    padding:30px 40px;
}
#benefit .box:first-child{
    margin-left: 0px;
}
#benefit .box:nth-child(4){
    margin-left: 0;
}
#benefit .box:nth-child(3n){
    margin-right: 0px;
}

#benefit .box:nth-child(-n+3){
    margin-top: 0px;
}
#benefit img{
    width: 100%;
}


/*--------------------------
#CTA
---------------------------*/
.cta{
    background-color: #F3A000;
}
.cta-img{
    width: 50%;
    padding-top: 20px;
}
.cta-application{
    width: 50%;
    margin: 0px 0px 0px 50px;
    padding: 50px 20px;
    font-size: 1.2rem;
    border: solid 3px #fff;/*線*/
    border-radius: 10px;/*角の丸み*/
}
.cta-application span{
    font-size: 2rem;
}
.cta-application ul{
    padding: 20px 60px;
    text-align: left;  
}
.cta-application ul li{
list-style-type: disc
}
.cta-application a{
    margin-top: 30px;
}
#footer{
    background-color:#232323 ;
    font-size: 0.5rem;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    margin-top: auto;
}

/*--------------------------
メディアクエリ
---------------------------*/
@media screen and (max-width: 960px){
    .scrolldown4{
        display: none;
    }
    .wrapper {
        padding: 30px 20px 60px 20px;
    }

    .top{
        flex-direction: column;
        position: relative;
        height: 300px;
        }
    
    .site-title{
        position: absolute;
        width: 50%;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-20%);
    }
    .site-title img{
        width: 100%;
    }
    .button{
        position: absolute;
        width: 50%;
        right: 50%;
        top: 50%;
        transform: translate(50%,180%);
    }


/*申込ボタンデザイン*/
.btn-gradient-radius {
    width:120% ;
    }

/*about*/
.info{
    flex-direction: column;
}
    .about .img{
        width: 90%;
        margin: 0 auto;
    }
    .text{
        width: 100%;
        padding: 30px 8% 100px 6%;
    }
/*こんな方におすすめ*/
    .items{
        flex-direction: column;
    }
    #recommend .item{
        width:100%;
        padding: 0px 30px;
        margin-right: 0px;
        font-size: 1.2rem;
        }
    #recommend img{
        padding: 10px;
        width:60%;
        }
    .item h4{
        font-size: 1.5rem;
    }
    /* サカラバPremiumでできること */
    .bonus{
        flex-direction: column;
    }
    #benefit .box{
        width: 100%;
        margin: 30px auto 20px auto;
    }
    #benefit .box p{
        padding:30px 40px;
        font-size: 1.5rem;
    }
    #benefit .box:nth-child(-n+3){
        margin-top: 30px;
    }
    #benefit .box:first-child{
        margin-top: 0px;
    }
    #benefit img{
        width: 70%;
    }

    /* CTA */
    .cta-bottom{
        flex-direction: column;
    }
    .cta-img{
        width: 40%;
        padding-top: 0;
        margin: 0px auto 50px auto;
    }
    .cta-application{
        width: 90%;
        padding:50px 30px;
        margin: 0 auto;
    }
    .cta-application ul{
        padding: 20px 10px;
        text-align: center;  
    }
    .cta-application ul li{
        list-style-type: none;
        }
    .cta-application a{
        margin-top: 20px;
    }
    #footer{
        background-color:#232323 ;
        font-size: 0.5rem;
        padding: 10px 0;
        text-align: center;
        color: #fff;
    }
}
@media screen and (max-width: 599px){
    /* 文字サイズ指定 */   
    .item-title {
        font-size: 1.8rem;
        display: inline-block;
        border-bottom: solid 2px #F2AD28;
        margin-bottom: 50px;
        }
    .cta-title{
        font-size: 1.8rem;
        display: inline-block;
        border-bottom: solid 2px #400e32;
        margin-bottom: 50px;
    }
    .btn-cta{
        font-size: 1.0rem;
    }
    #header .header-p{
        font-size: 1rem;
        padding-bottom: 20px;
    }
    #header p{
        font-size: 0.9rem;
    }
    h3{
        font-size: 0.9rem;
        padding-bottom: 30px;
    }
    h4{
        font-size: 0.8rem;
        padding-bottom: 20px;
    }
    #benefit .box p{
        font-size: 1rem;
    }
    /* ヘッダー */
    .site-title{
        position: absolute;
        width: 50%;
        left: 50%;
        top: 50%;
        transform: translate(-50%,10%);
    }
    .site-title img{
        width: 100%;
    }

    .button{
        position: absolute;
        width: 50%;
        right: 50%;
        top: 50%;
        transform: translate(50%,120%);
    }
}